AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY'
AWS_REGION='YOUR_AWS_REGION'
S3_BUCKET_NAME='YOUR_S3_BUCKET_NAME'

RDS_HOST='YOUR_RDS_HOST'
RDS_PORT=5432
RDS_DATABASE='YOUR_RDS_DATABASE'
RDS_USER='YOUR_RDS_USER'
RDS_PASSWORD='YOUR_RDS_PASSWORD'